__pycache__/
*.pyc
Labor.py
menu-and-result-example.txt
saftymain24-01-25.py
saftyproducts24-01-25.py
saftystore24-01-25.py

*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually these files are written by a Python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
# Ignore virtual environment directories created by Pipenv
**/pipenv_env/
**/Pipfile.lock

# Poetry
poetry.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# IDEs
.idea/
.vscode/

# Local settings
*.env
*.local

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*.orig
*.save
*.~undo-tree~

# Other
*.sqlite3
*.sqlite
